MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB_NAME=mkirell_portfolio

CORS_ORIGINS=http://localhost:5173,http://localhost:5174

COGNITO_REGION=eu-west-3
COGNITO_USER_POOL_ID=eu-west-3_XXXXXXXXX
COGNITO_ALLOWED_CLIENT_IDS=console-client-id,ci-client-id

NODE_ENV=development
PORT=3000
API_PREFIX=api/v1
DEFAULT_LANG=en
LOG_LEVEL=log

COGNITO_RESOURCE_SERVER=mkirell-portfolio-ms
COGNITO_FRONTEND_CLIENT_ID=console-client-id
COGNITO_HOSTED_UI_DOMAIN=https://auth.mkirell.com
COGNITO_ALGORITHMS=RS256
COGNITO_JWKS_CACHE_TTL=600000
COGNITO_JWKS_RATE_LIMIT=10
COGNITO_JWKS_TIMEOUT=5000

THROTTLE_TTL=60000
THROTTLE_LIMIT=120
